<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogOut</title>
    <style>
        body{
            background-color: grey;
        }
        h3{
            font: 20px;
            color:rgb(238, 213, 213);
        }
        footer{
            clear: both;
            padding: 20px;
            text-align: center;
            background: yellow;
            color:blue;
        }
    </style>
    <h3>
        You Have Been Logged Out
    </h3>
    <div>
        <small>
            <a href="/">Login Again</a>
        </small>
    </div>
</head>
<body>

    
</body>
</html>